<%= form_for(spreadsheet, html: { class: 'js-spreadsheet-form' }) do |f| %>
  <% if spreadsheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spreadsheet.errors.count, "error") %> prohibited this spreadsheet from being saved:</h2>

      <ul>
      <% spreadsheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.text_area :content, style: 'display: none', id: 'spreadsheet_content' %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div id="js-spreadsheet">
  </div>

<% end %>
