<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @spreadsheet.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @spreadsheet.content %>
</p>

<%= link_to 'Edit', edit_spreadsheet_path(@spreadsheet) %> |
<%= link_to 'Back', spreadsheets_path %>
